@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-sm table-dark"
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Release Date</th>
            <th scope="col">MetaScore</th>
            <th scope="col">UserScore</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> The Legend of Zelda</td>
            <td>23.11.1998</td>
            <td>99</td>
            <td></td>
        </tr>
            <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> SoulCalibur</td>
            <td>26.10.2018</td>
            <td>98</td>
            <td></td>
        </tr>
             <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> Red Dead Redemption 2</td>
            <td>26.10.2018</td>
            <td>98</td>
            <td></td>

        </tr>
            <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> Red Dead Redemption 2</td>
            <td>26.10.2018</td>
            <td>97</td>
            <td></td>

        </tr>
             <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> Red Dead Redemption 2</td>
            <td>26.10.2018</td>
            <td>97</td>
            <td></td>

        </tr>
            <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> Red Dead Redemption 2</td>
            <td>26.10.2018</td>
            <td>97</td>
            <td></td>

        </tr>
            <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> Red Dead Redemption 2</td>
            <td>26.10.2018</td>
            <td>97</td>
            <td></td>
        </tr>
            <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> Red Dead Redemption 2</td>
            <td>26.10.2018</td>
            <td>97</td>
            <td></td>
        </tr>
            <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> Red Dead Redemption 2</td>
            <td>26.10.2018</td>
            <td>97</td>
            <td></td>
        </tr>
            <tr>
            <td><img src="~/img/logo.jpg" style="height: 50px;" alt=""> Red Dead Redemption 2</td>
            <td>26.10.2018</td>
            <td>97</td>
            <td></td>
        </tr>
    </tbody>
</table>